{% extends 'auth/base.html' %}

{% block title %}新規登録{% endblock %}

{% block content %}
<div class="w-full max-w-sm flex flex-col items-center">

  <!-- ロゴ -->
  <div class="w-1/3 mb-4">
    <img src="{% static 'images/logo_name_green.png' %}" alt="logo_green" class="w-full h-auto">
  </div>

  <!-- タイトル文 -->
  <h1 class="font-bold text-3xl text-green-600 mb-1">Create Account</h1>
  <p class="text-base font-bold mb-10 text-center">AIロードマップで効率的に学習を始めよう</p>

  <form action="{% url 'signup' %}" method="POST" class="font-bold text-xs flex flex-col w-3/4">
      {% csrf_token %}

      <!-- フォームを囲むdiv -->
      <div class="flex flex-col gap-5">
        
        <!-- ユーザー名 -->
        <div class="flex flex-col gap-1">
            <label for="id_username" class="text-gray-600">ユーザー名</label>
            <input type="text" name="username" id="id_username" required 
                  class="w-full px-3 py-2 border border-gray-300 rounded-xl font-normal text-base focus:outline-none focus:ring-2 focus:ring-green-600">
        </div>

        <!-- メールアドレス -->
        <div class="flex flex-col gap-1">
            <label for="id_email" class="text-gray-600">メールアドレス</label>
            <input type="email" name="email" id="id_email" required 
                  class="w-full px-3 py-2 border border-gray-300 rounded-xl font-normal text-base focus:outline-none focus:ring-2 focus:ring-green-600">
        </div>

        <!-- パスワード -->
        <div class="flex flex-col gap-1">
            <label for="id_password" class="text-gray-600">パスワード</label>
            <input type="password" name="password" id="id_password" required 
                  class="w-full px-3 py-2 border border-gray-300 rounded-xl font-normal text-base focus:outline-none focus:ring-2 focus:ring-green-600">
        </div>

        <!-- パスワード（確認用） -->
        <div class="flex flex-col gap-1">
            <label for="id_password_confirm" class="text-gray-600">パスワード（確認用）</label>
            <input type="password" name="password_confirm" id="id_password_confirm" required 
                  class="w-full px-3 py-2 border border-gray-300 rounded-xl font-normal text-base focus:outline-none focus:ring-2 focus:ring-green-600">
        </div>

      </div> 

      <!-- フォーム送信ボタン -->
      <button type="submit" class="w-full py-3 mt-10 bg-green-600 text-white text-base font-bold rounded-xl hover:bg-green-700 transition-colors">
        登録
      </button>
  </form>

  <hr class="w-full border-t border-gray-300 my-6">

  <!-- ログイン遷移リンク -->
  <a href="{% url 'signin' %}" class="text-xs text-green-600 hover:underline font-bold text-center w-full">
      すでにアカウントをお持ちの方
  </a>

</div>
{% endblock %}