{% extends 'base.html' %}

{% load static %}

{% block main_layout %}
  <main class="max-w-md mx-auto h-screen w-full bg-gradient-to-tr from-[#116329] to-[#002d11] text-gray-900 flex flex-col">
    
    <!-- 画面上部のアプリ名などを表示するヘッダー -->
    <header class="h-16 shrink-0 bg-white shadow-sm flex items-center  bg-gradient-to-r from-green-600 to-green-900">
      
      <!-- プラン詳細などの時はプラン名を表示 -->
      {% if request.resolver_match.url_name == 'plan_table' or request.resolver_match.url_name == 'task_detail' or request.resolver_match.url_name == 'plan_graph' %}
        <img src="{% static 'images/logo_white.png' %}" alt="logo_white" class="h-16 w-auto">
      {% else %}
        <img src="{% static 'images/logo_header.png' %}" alt="logo_header" class="h-16 w-auto">
        <span class="text-white text-xl font-medium">
          {% block planname %}
          {% endblock %}
        </span>
      {% endif %}

    </header>

    <!-- メインのコンテンツ -->
    <div class="flex-1 overflow-y-auto p-4 flex flex-col">
      {% block content %}
      {% endblock %}
    </div>

    <!-- ナビゲーションバー -->
    <nav class="h-20 shrink-0 bg-white border-t border-gray-200 flex justify-around items-center px-2">
      <a href="{% url 'home' %}" 
          class="flex flex-col items-center text-xs transition {% if request.resolver_match.url_name == 'home' %}text-green-600{% else %}text-gray-400 hover:text-green-600{% endif %}">
        <span class="material-symbols-rounded text-3xl">home</span>
        <span class="font-bold mt-1">ホーム</span>
      </a>
      <a href="{% url 'form' %}" 
          class="flex flex-col items-center text-xs transition {% if request.resolver_match.url_name == 'form' %}text-green-600{% else %}text-gray-400 hover:text-green-600{% endif %}">
        <span class="material-symbols-rounded text-3xl">add</span>
        <span class="font-bold mt-1">新規</span>
      </a>
      {% comment %} <a href="{% url 'link_list' %}"  {% endcomment %}
      <a href="" 
          class="flex flex-col items-center text-xs transition {% if request.resolver_match.url_name == 'link_list' %}text-green-600{% else %}text-gray-400 hover:text-green-600{% endif %}">
        <span class="material-symbols-rounded text-3xl">link</span>
        <span class="font-bold mt-1">リンク</span>
      </a>
      {% comment %} <a href="{% url 'menu' %}"  {% endcomment %}
      <a href="" 
          class="flex flex-col items-center text-xs transition {% if request.resolver_match.url_name == 'menu' %}text-green-600{% else %}text-gray-400 hover:text-green-600{% endif %}">
        <span class="material-symbols-rounded text-3xl">menu</span>
        <span class="font-bold mt-1">メニュー</span>
      </a>
    </nav>
  </main>
{% endblock %}